__pycache__/
*.pyc
*.pyo
*.pyd

equ/
venv/
.venv/

.vscode/
.idea/
.DS_Store
Thumbs.db

.streamlit/
.env

outputs/
postgres_data/

data/raw/
data/temp/
data/intermediate/

*.mp4
*.avi
*.webm
*.csv
*.jsonl
*.log